<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ recipe.name }}</title>
</head>
<body>
    <a href="{% url '홈피:recipe_list' %}">돌아가기</a>
    <br><br>
    <ul>
        <li>{{ recipe.name }}</li>
        <li>{{ recipe.material }}</li>
        <li>{{ recipe.process }}</li>
    </ul>
    <br>


    <a href="{% url '홈피:recipe_update' pk=recipe.id %}" class="btn btn-warning">수정</a>
    <a href="{% url '홈피:recipe_delete' pk=recipe.id %}" class="btn btn-danger">삭제</a>
</body>
</html>