{% extends 'base.html' %}

{% block title %}{{ recipe.name }} 삭제{% endblock %}

{% load static %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static '홈피/css/crud.css' %}">

    <div class="container"/>
        <form action="" method="post" class="recipe-form">
            {% csrf_token %}
            <h4>작성한 레시피를 정말 삭제하시겠습니까?</h4>
            <input type="submit" value="삭제" class="btn btn-delete">
            <input type="button" value="취소" class="btn btn-back" onclick="history.back();">

        </form>
    </div>
{% endblock %}