{% extends 'base.html' %}

{% load static %}

{% block title %}{{ recipe.name }}{% endblock %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static '홈피/css/detail.css' %}">

<div class="recipe-detail-container">

    <div class="back-link">
        <a href="{% url '홈피:recipe_list' %}">
            <img src="{% static '홈피/images/back_icon.png' %}" alt="돌아가기 아이콘">
        </a>
    </div>

    <div class="recipe-card">
        <div class="post-picture">
            <img src="{{ recipe.pic.url }}" alt="{{ recipe.name }} 이미지" class="recipe-image">
        </div>

        <div class="recipe-info">
            <div class="recipe-name">{{ recipe.name }}</div>
            <div class="materials-title">재료</div>
            <div class="materials">{{ recipe.material }}</div>
        </div>

        <div class="process-section">
            <div class="process-title">방법</div>
            <div class="process">{{ recipe.process }}</div>
        </div>
    </div>

    {% if request.user.is_authenticated and request.user == recipe.author %}
        <div class="action-buttons">
            <a href="{% url '홈피:recipe_update' pk=recipe.id %}" class="btn btn-edit">수정</a>
            <a href="{% url '홈피:recipe_delete' pk=recipe.id %}" class="btn btn-delete">삭제</a>
        </div>
    {% endif %}
</div>

{% endblock %}
