{% extends 'base.html' %}

{% block title %}레시피 작성{% endblock %}

{% load static %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static '홈피/css/crud.css' %}">

    <div class="container">
        <form action="" method="post" enctype="multipart/form-data" class="recipe-form">
            {% csrf_token %}
            {{ form.as_p }}

            <input type="submit" value="레시피 작성" class="btn btn-create">
            <input type="button" value="취소" class="btn btn-back" onclick="history.back();">
        </form>
    </div>
{% endblock %}
